body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/c3/97/7d/c3977d7be06576701fd39950123b13d6.gif'); /* Path to your GIF */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-attachment: fixed; /* Keep the background fixed during scrolling */
    background-position: center; /* Center the background */
    color: white; /* Change text color for better visibility */
}
